p {
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 0.2em;
  color: rgb(15, 35, 74);
}

a {
  text-decoration: underline;
  color: rgb(32, 84, 22);
  font-weight: bold;
}

a:hover {
  color: rgb(28, 134, 7);
  font-weight: bolder;
}

a:visited {
  color: rgb(175, 207, 169);
  font-weight: lighter;
}

body {
  max-width: 90%;
  margin: 0 auto;
  background: linear-gradient(90deg, rgb(192, 202, 173), rgb(128, 151, 84));
  background-image: url("../img/chinebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}

blockquote {
  width: 50%;
  margin: 80px auto;
  font-size: 1.6em;
  background-color: rgb(50, 83, 129);
  margin-left: 3px;
  padding: 30px;
}
