p {
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 0.2em;
  color: rgb(15, 35, 74);
}

a {
  text-decoration: underline;
  color: rgb(32, 84, 22);
  font-weight: bold;
}

a:hover {
  color: rgb(28, 134, 7);
  font-weight: bolder;
}

a:visited {
  color: rgb(175, 207, 169);
  font-weight: lighter;
}

body {
  max-width: 90%;
  margin: 0 auto;
  background: linear-gradient(90deg, rgb(192, 202, 173), rgb(128, 151, 84));
  background-image: url("../img/chinebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}

blockquote {
  width: 50%;
  margin: 80px auto;

  background-color: rgb(50, 83, 129);
  margin-left: 3px;
  padding: 30px;

  font-size: 1.6em;
  font-style: italic;
}

q {
  font-style: italic;
}

.villagerQuotes {
  border-left: 4px solid rgb(5, 30, 64);
}

.farmerQuotes {
  border-left: 4px solid rgb(9, 59, 22);
}

header {
  background-color: #fffd77;
}

.good {
  color: green;
}
.bad {
  color: red;
}

tr:nth-child(even) {
  background-color: rgb(86, 83, 79);
}

tr:nth-child(odd) {
  background-color: rgb(214, 212, 230);
}

li {
  background-repeat: no-repeat;
  padding-left: 30px;
  background-size: contain;
}

li:first-child {
  background-image: url("../img/bien.png");
}

li:nth-child(2) {
  background-image: url("../img/mal.png");
}

li:nth-child(3) {
  background-image: url("../img/chat.png");
}

p:first-of-type {
  font-weight: bold;
  color: red;
}
